@import url('https://fonys.googleapis.com/css2?family=poppins:wght@200');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}

body{
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    min-height: 100vh;
    background-image: url(signupback.jpg);

}


.container p{

    margin: 0;
    padding: 0;
    font-weight: bold;
   
    color: #ffffff;
}

.header p{
    margin-left: 20px;
    color: #ffffff;
    font-size: 50px;
    
    
}
.wrapper{
    margin-top: 35px;
    margin-left: 32%;
    background:rgb(132, 205, 253);
    backface-visibility: 0.5;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
    0 32px 64 px -48 px rgba(0,0,0,0.5);

}



.users{
    padding: 20px 30px;
}
.users header{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;


}
.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}
.users header .content{
    display: flex;
    align-items: center;
}
.users-list a .content{
    display: flex;
    align-items: center;
}


.users header .content img{
    height: 50px;
    width: 50px;

}

:is(.users, .users-list) .details{
    color: #000;
    margin-left:15px;
   

}

:is(.users, .users-list).details span{
    font-size: 15px;
    font-weight: 500;
    background-color: #000;
    border-color: #000;
}



.users header .logout{
    color: #fff;
    font-size: 17px;
    padding: 7px 15px;
    background: #333;
    border-radius: 5px;
}

.users .search{
    margin:20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;

}

.users .search .text{
    font-size: 18px;
}
.users .search input{
    position: absolute;
    height: 42px;
    width: 90%;
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
}

.users .search button{
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    color: #fff;
    background:#333;
    cursor: pointer;
    font-size: 17px;
    border-radius: 0 5px 5px 0;
}

.users-list{
    max-height: 350px;
    overflow-y: auto;
}
.users-list::-webkit-scrollbar{
    width: 0px;
    color: #000;
}



.users-list a {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 15px;
    margin-bottom: 15px;
    page-break-after: 10px;
    padding-right: 15px;
    border-bottom-color:#f1f1f1 ;
}

.users-list  :hover{
    
        cursor: pointer;
        background-color: rgb(52, 237, 243);
        
        
        
}


.users-list a .content img{
    height: 40px;
    width: 40px;

} 
.users-list a .content p{
    color: #67676a;
}

.users-list a .status-dot img{
    height: 20px;
    width: 20px;

}

 #statas-dot{
    height: 40px;
    width: 40px;
}



/*//chatbox*/

.chat-area header{
    display: flex;
    align-items: center;
    padding: 18px 30px;
    
    
}
.chat-area header img{
    
    height: 40px;
    width: 40px;
    margin: 0 15px;

    
    
}

.chat-area header span{
font-size: 17px;
font-weight: 500;
}









